# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Project MMS\front-end-final-4th-semester\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
